.archive {
    max-width: 700px;
    margin: 4em auto;

    .post-item {
        display: flex;
        align-items: baseline; 
        padding: 6px 0;        
        border-bottom: 1px solid rgba(255, 255, 255, 0.03);

        .post-date {
            width: 120px;      
            min-width: 120px;
            color: #7f8c8d;
            font-size: 13px;   
            flex-shrink: 0;
        }

        .post-title-link {
            font-size: 13px;  
            color: #42b983;
            text-decoration: none;
            word-break: break-word;
            margin-left: 20px; 
            line-height: 1.4;

            &:hover {
                color: #2bbc8a;
                border-bottom: 1px solid #42b983;
            }
        }
    }
}
